markup/pages/index.pug
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/foot/foot.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        // START page wrapper
        div.page__wrapper
            //- START page header
            +header(data)
            //- END page header

            // START promo
            div.promo(id="promo")
                div.page__container
                    div.promo__content
                        div.promo__title 
                            | Портал 
                            img.promo__title-img(src="http://pronovostroy.ru/public/style_images/pronovostroy/general/logo-white.svg", width="250", height="40", alt="Pronovostroy")
                            | предлагает
                        div.promo__text
                            span.promo__text-1 Бесплатный подбор 
                            span.promo__text-2 квартиры в новостройке 
                            span.promo__text-3 по самой выгодной цене!
            // END promo

            // START page content
            div.page__content(id="content")
                
                // START page main
                main.page__main(id="main", role="main")
                    section.block
                        div.page__container
                            header.block__header 
                                b.block__title Как получить предложение?
                            div.block__content
                                div.timeline
                                    // START timeline step 1
                                    div.timeline__item(data-step="1")
                                        span.timeline__icon
                                        div.timeline__content
                                            div.timeline__figure
                                                img.timeline__img(src="%=static=%img/assets/timeline/timeline_step_1.png")
                                            div.timeline__text
                                                p Заполните заявку
                                    // END timeline step 1

                                    // START timeline step 2
                                    div.timeline__item(data-step="2")
                                        span.timeline__icon
                                        div.timeline__content
                                            div.timeline__figure
                                                img.timeline__img(src="%=static=%img/assets/timeline/timeline_step_2.png")
                                            div.timeline__text
                                                p Оставьте Ваши контактные данные
                                    // END timeline step 2
                                    
                                    // START timeline step 3
                                    div.timeline__item(data-step="3")
                                        span.timeline__icon
                                        div.timeline__content
                                            div.timeline__figure
                                                img.timeline__img(src="%=static=%img/assets/timeline/timeline_step_3.png")
                                            div.timeline__text
                                                p Получите самое выгодное предложение!
                                    // END timeline step 3

                    section.block.--allotted
                        div.page__container.--sm
                            header.block__header 
                                b.block__title Заполните заявку 
                                p.block__text и мы подберем подходящие квартиры в новостройке
                            div.block__content
                                div.form.--request
                                    div.form__body
                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Расположение объекта:
                                            div.col-md-8
                                                input.form-control(type="text", placeholder="Предподчительное расположение объекта")

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Выберете жилой комлекс:
                                            div.col-md-8
                                                select.form-control.select2(data-width="100%")
                                                    option(value="0") ЖК
                                                    option(value="1") Новый ЖК
                                                    option(value="2") Старый ЖК
                                                    option(value="3") Еще раз ЖК
                                                    option(value="4") ЖК

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Выберете жилой комлекс:
                                            div.col-md-8
                                                select.form-control.select2(data-width="160")
                                                    option(value="-1") Год
                                                    option(value="0") 2017
                                                    option(value="1") 2016
                                                    option(value="2") 2015
                                                    option(value="3") 2014
                                                    option(value="4") 2013

                                                div.form__ingroup
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description I кв.
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare-1", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description II кв.
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare-1", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description III кв.
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(id="filterPriceSquare-1", name="filterPriceSquare", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description IV кв.

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Выберете тип квартиры:
                                            div.col-md-8
                                                select.form-control.select2(data-width="100%")
                                                    option(value="0") Любой
                                                    option(value="1") Комнат 2
                                                    option(value="2") Комнат 3
                                                    option(value="3") Комнат 4
                                                    option(value="4") Комнат 5

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Предпочтительный бюджет на покупку квартиры:
                                            div.col-md-8
                                                div.row
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 1,1 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 1,6 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 2 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 3 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description до 4 млн.
                                                    div.col.col-6.col-md-4
                                                        label.custom-control.custom-checkbox
                                                            input.custom-control-input(name="amount", type="checkbox")
                                                            span.custom-control-indicator
                                                                != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                            span.custom-control-description.--no-wrap до 5 млн. и выше

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") Комментарии*:
                                            div.col-md-8
                                                textarea.form-control(type="text", placeholder="Предподчительное расположение объекта", rows="6")

                                    hr.form__hr

                                    div.form__body
                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") 
                                                |Имя
                                                span.form-group__req *
                                            div.col-md-8.has-danger
                                                input.form-control(type="text", placeholder="Как к Вам обращаться")
                                                span.form-control__hint.--danger
                                                    != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'icon icon-warning', iconWidth: '24', iconHeight: '24'}) 
                                                    |Поле является обязательным!

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") 
                                                |Телефон
                                                span.form-group__req *
                                            div.col-md-8
                                                input.form-control(type="tel", placeholder="Введите Ваш номер телефона")

                                        div.form-group.row
                                            label.col-md-4.col-form-label(for="") 
                                                |Почта
                                                span.form-group__req *
                                            div.col-md-8
                                                input.form-control(type="email", placeholder="Введите Ваш реальный e-mail")

                                    hr.form__hr

                                    div.form__body
                                        div.form-group.row
                                            label.col-md-4.col-form-label.form__hidden-sm-down(for="") &nbsp;
                                            div.col-md-8.form__submit-holder
                                                input.btn.btn-warning.btn-lg.btn-block(type="submit", value="Отправить заявку", role="button")
                                                div.form__ingroup
                                                    label.custom-control.custom-checkbox
                                                        input.custom-control-input(name="amount", type="checkbox")
                                                        span.custom-control-indicator
                                                            != pugHelpers.Icon.call(locals, {iconName: 'checkmark', className: 'icon icon-checkmark', iconWidth: '24', iconHeight: '24'})
                                                        span.custom-control-description
                                                            |Я согласен на 
                                                            a(href="#") обработку персональных данных
                    //END block --alloted

                    section.block.--support
                        div.page__container.--sm
                            div.block__content
                                div.contacts
                                    span.contacts__icon
                                    div.contacts__text
                                        p Если у вас возникли вопросы задайте их на почту:
                                    div.contacts__action
                                        a(href="mailto: support@pronovostroy.ru") support@pronovostroy.ru
                // END page main

                // END page sidebar

            // END page content


            //- START page header
            +footer(data)
            //- END page header

        // END page wrapper

        // START common scripts
        +foot(data)
        // END common scripts

        // START page scripts
        // END page scripts

builds/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>pronovostroy.ruФорум о Новостройках Москвы, Подмосковья и Новой Москвы, Отзывы о Новостройках и Застройщиках</title>
        <meta content="Первый независимый форум о новостройках Москвы, Новой Москвы и Подмосковья. Форум, отзывы, обсуждения, мнения независимых людей и экспертов." name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="pronovostroy.ru - Форум о Новостройках Москвы, Подмосковья и Новой Москвы, Отзывы о Новостройках и Застройщиках">
        <meta property="og:url" content="">
        <meta property="og:description" content="Первый независимый форум о новостройках Москвы, Новой Москвы и Подмосковья. Форум, отзывы, обсуждения, мнения независимых людей и экспертов.">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="pronovostroy.ru - Форум о Новостройках Москвы, Подмосковья и Новой Москвы, Отзывы о Новостройках и Застройщиках">
        <link rel="image_src" href="">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <meta name="application-name" content="pronovostroy.ru">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <svg xmlns="http://www.w3.org/2000/svg" style="border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;"
        class="root-svg-symbols-element">
            <symbol id="checkmark" viewBox="0 0 24 24">
                <path d="M2 11.9l1.7-1.6c2.1 1 3.9 2.1 5.6 3.4C13.4 8.8 16.2 6.3 21.4 3l.6 1.3c-4.3 3.8-7.4 8-11.9 16.2-2.6-3.1-5.2-5.9-8.1-8.6z" />
            </symbol>
            <symbol id="chevron-down" viewBox="0 0 24 24">
                <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z" />
            </symbol>
            <symbol id="chevron" viewBox="0 0 24 24">
                <path d="M15.41 16.58L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.42z" />
            </symbol>
            <symbol id="email" viewBox="0 0 24 24">
                <path d="M20 8l-8 5-8-5V6l8 5 8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z" />
            </symbol>
            <symbol id="warning" viewBox="0 0 295.428 295.428">
                <path d="M147.714 0C66.264 0 0 66.264 0 147.714s66.264 147.714 147.714 147.714 147.714-66.264 147.714-147.714S229.164 0 147.714 0zm0 232.68c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15zm15-77c0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15v-79c0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15v79z"
                />
            </symbol>
        </svg>
        <!-- START page wrapper-->
        <div class="page__wrapper">
            <!-- START header -->
            <header class="page__header" role="">
                <div class="header page__container">
                    <div class="logo">
                        <a class="logo__link" href="http://pronovostroy.ru" title="Pronovostroy">
                            <img class="logo__img" src="static/img/general/logo.svg" width="250" height="40" alt="Pronovostroy">
                        </a><span class="logo__text">Первый независимый форум о новостройках</span><span class="logo__text-1">форум о новостройках</span>
                    </div>
                </div>
            </header>
            <!-- END header-->
            <!-- START promo-->
            <div class="promo" id="promo">
                <div class="page__container">
                    <div class="promo__content">
                        <div class="promo__title">
                            Портал
                            <img class="promo__title-img" src="http://pronovostroy.ru/public/style_images/pronovostroy/general/logo-white.svg" width="250" height="40" alt="Pronovostroy">предлагает</div>
                        <div class="promo__text"><span class="promo__text-1">Бесплатный подбор </span><span class="promo__text-2">квартиры в новостройке </span><span class="promo__text-3">по самой выгодной цене!</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END promo-->
            <!-- START page content-->
            <div class="page__content" id="content">
                <!-- START page main-->
                <main class="page__main" id="main" role="main">
                    <section class="block">
                        <div class="page__container">
                            <header class="block__header"> <b class="block__title">Как получить предложение?</b>
                            </header>
                            <div class="block__content">
                                <div class="timeline">
                                    <!-- START timeline step 1-->
                                    <div class="timeline__item" data-step="1"><span class="timeline__icon"></span>
                                        <div class="timeline__content">
                                            <div class="timeline__figure">
                                                <img class="timeline__img" src="static/img/assets/timeline/timeline_step_1.png">
                                            </div>
                                            <div class="timeline__text">
                                                <p>Заполните заявку</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline step 1-->
                                    <!-- START timeline step 2-->
                                    <div class="timeline__item" data-step="2"><span class="timeline__icon"></span>
                                        <div class="timeline__content">
                                            <div class="timeline__figure">
                                                <img class="timeline__img" src="static/img/assets/timeline/timeline_step_2.png">
                                            </div>
                                            <div class="timeline__text">
                                                <p>Оставьте Ваши контактные данные</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline step 2-->
                                    <!-- START timeline step 3-->
                                    <div class="timeline__item" data-step="3"><span class="timeline__icon"></span>
                                        <div class="timeline__content">
                                            <div class="timeline__figure">
                                                <img class="timeline__img" src="static/img/assets/timeline/timeline_step_3.png">
                                            </div>
                                            <div class="timeline__text">
                                                <p>Получите самое выгодное предложение!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline step 3-->
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="block --allotted">
                        <div class="page__container --sm">
                            <header class="block__header"> <b class="block__title">Заполните заявку </b>
                                <p class="block__text">и мы подберем подходящие квартиры в новостройке</p>
                            </header>
                            <div class="block__content">
                                <div class="form --request">
                                    <div class="form__body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">Расположение объекта:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" placeholder="Предподчительное расположение объекта">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">Выберете жилой комлекс:</label>
                                            <div class="col-md-8">
                                                <select class="form-control select2" data-width="100%">
                                                    <option value="0">ЖК</option>
                                                    <option value="1">Новый ЖК</option>
                                                    <option value="2">Старый ЖК</option>
                                                    <option value="3">Еще раз ЖК</option>
                                                    <option value="4">ЖК</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">Выберете жилой комлекс:</label>
                                            <div class="col-md-8">
                                                <select class="form-control select2" data-width="160">
                                                    <option value="-1">Год</option>
                                                    <option value="0">2017</option>
                                                    <option value="1">2016</option>
                                                    <option value="2">2015</option>
                                                    <option value="3">2014</option>
                                                    <option value="4">2013</option>
                                                </select>
                                                <div class="form__ingroup">
                                                    <label class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="filterPriceSquare" name="filterPriceSquare" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">I кв.</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="filterPriceSquare-1" name="filterPriceSquare" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">II кв.</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="filterPriceSquare-1" name="filterPriceSquare" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">III кв.</span>
                                                    </label>
                                                    <label class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" id="filterPriceSquare-1" name="filterPriceSquare" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">IV кв.</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">Выберете тип квартиры:</label>
                                            <div class="col-md-8">
                                                <select class="form-control select2" data-width="100%">
                                                    <option value="0">Любой</option>
                                                    <option value="1">Комнат 2</option>
                                                    <option value="2">Комнат 3</option>
                                                    <option value="3">Комнат 4</option>
                                                    <option value="4">Комнат 5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">Предпочтительный бюджет на покупку квартиры:</label>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col col-6 col-md-4">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">до 1,1 млн.</span>
                                                        </label>
                                                    </div>
                                                    <div class="col col-6 col-md-4">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">до 1,6 млн.</span>
                                                        </label>
                                                    </div>
                                                    <div class="col col-6 col-md-4">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">до 2 млн.</span>
                                                        </label>
                                                    </div>
                                                    <div class="col col-6 col-md-4">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">до 3 млн.</span>
                                                        </label>
                                                    </div>
                                                    <div class="col col-6 col-md-4">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">до 4 млн.</span>
                                                        </label>
                                                    </div>
                                                    <div class="col col-6 col-md-4">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description --no-wrap">до 5 млн. и выше</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">Комментарии*:</label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" type="text" placeholder="Предподчительное расположение объекта" rows="6"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="form__hr">
                                    <div class="form__body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">
                                                Имя<span class="form-group__req">*</span>
                                            </label>
                                            <div class="col-md-8 has-danger">
                                                <input class="form-control" type="text" placeholder="Как к Вам обращаться"><span class="form-control__hint --danger">
            <svg class="icon icon-warning" width="24" height="24">
                <use xlink:href="#warning"></use>
            </svg>
        Поле является обязательным!</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">
                                                Телефон<span class="form-group__req">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="tel" placeholder="Введите Ваш номер телефона">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" for="">
                                                Почта<span class="form-group__req">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="email" placeholder="Введите Ваш реальный e-mail">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="form__hr">
                                    <div class="form__body">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label form__hidden-sm-down" for="">&nbsp;</label>
                                            <div class="col-md-8 form__submit-holder">
                                                <input class="btn btn-warning btn-lg btn-block" type="submit" value="Отправить заявку" role="button">
                                                <div class="form__ingroup">
                                                    <label class="custom-control custom-checkbox">
                                                        <input class="custom-control-input" name="amount" type="checkbox"><span class="custom-control-indicator">
            <svg class="icon icon-checkmark" width="24" height="24">
                <use xlink:href="#checkmark"></use>
            </svg>
        </span><span class="custom-control-description">Я согласен на <a href="#">обработку персональных данных</a></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--END block --alloted-->
                    <section class="block --support">
                        <div class="page__container --sm">
                            <div class="block__content">
                                <div class="contacts"><span class="contacts__icon"></span>
                                    <div class="contacts__text">
                                        <p>Если у вас возникли вопросы задайте их на почту:</p>
                                    </div>
                                    <div class="contacts__action"><a href="mailto: support@pronovostroy.ru">support@pronovostroy.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <!-- END page main-->
                <!-- END page sidebar-->
            </div>
            <!-- END page content-->
            <!-- START footer-->
            <footer class="page__footer" role="footer">
                <div class="footer page__container">
                    <p>Экспертный портал <a href="#">«ПроНовострой»</a>выстраивает свою работу на принципах компетентности и доверия. Портал предоставляет актуальную информацию на рынке недвижимости в сегменте нового жилья, выступает экспертом в вопросах
                        коммуникаций между строительными, сервисными, монтажными и проектировочными компаниями и реальным клиентом, покупателем нового жилья.</p>
                </div>
            </footer>
            <!-- END footer-->
        </div>
        <!-- END page wrapper-->
        <!-- START common scripts-->
        <script src="static/js/separate-js/jquery-1.12.0.min.js"></script>
        <script src="static/js/separate-js/select2.min.js"></script>
        <script src="static/js/separate-js/select2.i18n.ru.js"></script>
        <script src="static/js/separate-js/jquery.nicescroll.min.js"></script>


        <script src="static/js/main.min.js"></script>
        <!-- END common scripts-->
        <!-- START page scripts-->
        <!-- END page scripts-->
    </body>

</html>
